.outlet-wrapper {
    padding: 0.5rem;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #dee2e6;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}